@import "tailwindcss";

:root {
  --foreground: white;
}

body {
  background: url("/img/fundo-login.jpg") no-repeat center / cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
